<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.group1.meetme">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CloudinaryConnect"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:replace="android:fullBackupContent"
        android:icon="@mipmap/app_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetMe"
        tools:targetApi="31">

        <!-- Activities -->
        <activity android:name=".MenuResourcesActivity" android:exported="false"/>
        <activity android:name=".UploadResourcesActivity" android:exported="false" />
        <activity android:name=".DownloadResourcesActivity" android:exported="false" />
        <activity android:name=".lecturer_review" android:exported="false" />
        <activity android:name=".CancelAppointmentActivity" android:exported="false" />
        <activity android:name=".RescheduleActivity" android:exported="false" />
        <activity android:name=".AppointmentsActivity" android:exported="false" />
        <activity android:name=".ScheduleAvailabilityActivity" android:exported="false" />
        <activity android:name=".BookAppointmentActivity" android:exported="false" />
        <activity android:name=".LecturerDashboardActivity" android:exported="false" />
        <activity android:name=".GetStartedActivity" android:exported="false" />
        <activity android:name=".ChangePasswordActivity" android:exported="false" />
        <activity android:name=".AddUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity
            android:name=".StudentDashboardActivity"
            android:exported="true"
            android:theme="@style/splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Receivers and Services -->
        <receiver android:name=".ReminderReceiver" />
        <receiver android:name=".PushReceiver" android:exported="false">
            <intent-filter>
                <action android:name="pushy.me" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.pushy.sdk.receivers.PushyUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.pushy.sdk.receivers.PushyBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="me.pushy.sdk.services.PushySocketService" android:stopWithTask="false" />
        <service
            android:name="me.pushy.sdk.services.PushyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:stopWithTask="false" />
    </application>

</manifest>